<?xml version="1.0"?>
<launch>
  <!-- send cylinder_object urdf to param server -->
  <param name="object_description" command="$(find xacro)/xacro --inorder $(find katana400_6m90a)/urdf/cylinder_object.urdf.xacro" />

  <!-- push cylinder_object_description to factory and spawn in gazebo -->
  <node name="spawn_object" pkg="gazebo_ros" type="spawn_model" args="-urdf -param object_description -x -0.5 -y -0.0 -z 0.8 -model object_1" respawn="false" output="screen" />
</launch>

