<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- transmissions are required by the controller manager (here: for simulation in gazebo) -->


<transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_motor1_pan_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_motor1_pan_motor">
       <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_motor2_lift_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_motor2_lift_motor">
     
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_motor3_lift_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_motor3_lift_motor">
      
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_motor4_lift_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_motor4_lift_motor">
      
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_motor5_wrist_roll_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_motor5_wrist_roll_motor">
     
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Gripper transmissions are required by the controller manager (here: for simulation in gazebo) -->
<transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_r_finger_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_r_finger_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="katana_l_finger_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="katana_l_finger_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
